.modal-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;

  }
.modal-container input{
    margin : 10px 0 10px 10px; 
}
.button-container button {
    margin-right: 50px;
}
.title{
  text-align: center;
}
.image-preview {
    max-width: 100%;
    max-height: 100%;
  }
  